<div class="container">
    <h1 class="text-center mt-4">Selamat Datang di Kolam Renang Kami!</h1>
    <p class="text-center">Nikmati fasilitas terbaik untuk keluarga dan teman-teman Anda.</p>
    <div class="text-center mt-4">
        <a href="/kunjungan" class="btn btn-primary">Lihat Kunjungan</a>
        <a href="/pegawai" class="btn btn-secondary">Lihat Kunjungan</a>
    </div>
</div>